body {
        /* font-family: 'Montserrat' !important; */
        margin: 0 auto;
}

header {
    max-width: 1200px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
}

.top-link a {
        text-decoration: none;
        color: inherit;
}

.navigation {
    display: inline-block;
}

.navigation ul li {
    display: inline;
    margin-right: 30px;
}

.navigation a {
    color: rgb(209, 209, 209);
}

.navigation a:hover {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navigation ul li:last-child {
    margin-right: 0px;
}

.middle {
    margin: auto;
    max-width: 1200px;
}

.banner-content {
    display: flex;
    justify-content: space-evenly;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 0px;
}

.image-container {
    max-width: 50%;
}

img {
    max-width: 560px;
    max-height: 560px;
}

.title-container {
    max-width: 50%;
}

/* .title-container a {
    text-decoration: none;
    color: inherit;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.title-container a:hover {
    text-decoration: none;
    color: inherit;
    border: solid 1px black
} */

.middle-links {
    text-decoration: none;
    color: inherit;
}

.middle-links:hover {
    color: rgb(255, 203, 147);
    text-decoration: none;
}

.learn {
    text-decoration: none;
    color: inherit;
    border: solid 1px rgb(209, 209, 209);
    border-radius: 20px;
    padding-top: 5px;
    padding-bottom: 7px;
    padding-left: 20px;
    padding-right: 20px;
}

.learn:hover {
    text-decoration: none;
    color: inherit;
    border: solid 1px black
}

footer {
    margin: auto;
    max-width: 1200px;
}

footer p {
    margin: 0px;
}