body {
        /* font-family: 'Montserrat' !important; */
        margin: 0 auto;
}

header {
    background-color: aqua;
    max-width: 1200px;
}

.top-container {
    display: flex;
    justify-content: space-between;
    margin: auto;
    max-width: 1200px;
}

.navigation {
    display: inline-block;
}

.navigation ul li {
    display: inline;
    margin-right: 30px;
}

.navigation ul li:last-child {
    margin-right: 0px;
}

.middle {
    margin: auto;
    max-width: 1200px;
    background-color: lime;
}

.banner-content {
    display: flex;
    justify-content: space-around;
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 0px;
}

.image-container {
    max-width: 50%;
}

img {
    max-width: 560px;
    max-height: 560px;
}

.title-container {
    max-width: 50%;
}

footer {
    margin: auto;
    max-width: 1200px;
}

footer p {
    margin: 0px;
}